<!DOCTYPE html>
<html>
<head>
    

</head>

<body>
    <h1>{{Title}}</h1>
    <form id="wform">
        <input type="text" id="location" placeholder="Enter Location"/>
        <button type="submit">Submit</button>


    </form>
</body>

<script src="./js/app.js"></script>

</html>